body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

p:hover {
    background-color: #f0f0f0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
